@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

html, body {
    height: 100%;
}

.center {
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background-color: #1e4a8b;
    padding: 8px 0;
}

.logo {
    float: left;
    color: white;

}

.logo h2 {
    font-size: 29px;
    font-weight: normal;
}

form.form-login {
    float: right;
}

.form-login .form-element {
    display: inline-block;
    margin-right: 15px;
}

.form-element p {
    color: white;
    font-size: 14px;
}

.form-element input[type=email], .form-element input[type=password] {
    margin-top: 5px;
    border: 0;
    outline: 0;
    padding: 3px 6px;
}

.form-element input[type=submit] {
    background-color: #074aad;
    cursor: pointer;
    color: white;
    border: 1px solid #033888;
    padding: 3px 5px;
}

.form-element input[type=submit]:hover {
    background: #033888;
}

section.main{
    background: linear-gradient(white, #D3D8E8);
    padding: 40px 0;
}

.img-pessoas {
    float: left;
    width: 60%;
}

.img-pessoas img {
    max-width: 100%;
}

.abrir-conta {
    width: 40%;
    float: right;
}

.abrir-conta h2 {
    color: black;
    font-size: 35px;
}

.abrir-conta h3 {
    color: rgb(30, 30, 30);
    font-size: 19px;
    margin-top: 10px;
    font-weight: normal;
}

form.criar-conta {
    margin-top: 10px;
}

.w50 {
    width: 50%;
    /* padding: 0 5px; */
    float: left;
}

.w50:nth-of-type(2) {
    width: 50%;
    padding-left: 10px;
    float: left;
}

.w100 {
    float: left;
    width: 100%;
}

form.criar-conta input {
    width: 100%;
    margin-top: 8px;
}

form.criar-conta input[type='text'],
form.criar-conta input[type='submit'],
form.criar-conta input[type='email'] {
    padding-left: 10px;
    border: 1px solid #a5dcff;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}

form.criar-conta input[type=submit] {
    height: 40px;
    background: linear-gradient(#67ae55, #578843);
    cursor: pointer;
    border: 0;
    outline: 0;
    color: white;
    max-width: 200px;
    font-size: 19px; 
}

form .w100 h3 {
    margin-top: 10px;
    color: #1D2129;
    font-size: 22px;
    font-weight: normal;
}

form select.nascimento {
    float: left;
    margin-top: 5px;
}

.input-radio {
    margin: 8px 10px;
    float: left;
}

.input-radio p {
    display: inline-block;
}

.input-radio input[type=radio]{
    width: auto;
    display: inline-block;
}

section.linguas {
    padding: 30px 0;
    background: white;
}

section.linguas a {
    padding-right: 15px;
    color: #385899;
    font-size: 12px;
    text-decoration: none;
}

section.linguas a.selected-lingua {
    color: #737373;

}

section.linguas .center {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

section.linguas .center:last-child {
    border: 0;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    form.form-login {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 17px;
        display: inline-block;
    }
        
    .form-login .form-element {
        display: block;
        margin: 8px 0;
    }

    .form-element p {
        color: white;
        font-size: 14px;
    }

    .form-element input[type=email], .form-element input[type=password] {
        width: 100%;
        max-width: 300px;
    }

    .img-pessoas {
        display: none;
    }

    .abrir-conta {
        width: 100%;
        padding: 0 3%;
    }
}
